{% extends "base.html" %} {% load static %} {% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} {% block content %}
<div class="container h-100">
  <div class="row h-100 align-items-center">
    <div class="col-12 col-lg-6 my-auto home-hero-copy-wrap">
      <p class="home-season-label mb-2">
        {% if home_hero %} {{ home_hero.season_label }} {% else %} Summer Edit
        {% endif %}
      </p>
      <h1 class="display-4 logo-font text-black">
        {% if home_hero %} {{ home_hero.heading }} {% else %} The new
        collections are here {% endif %}
      </h1>
      <p class="hero-subheading mt-3 mb-0">
        {% if home_hero %} {{ home_hero.subheading }} {% else %} Soft,
        sculptural, editorial. A quiet, modern counterpoint that keeps the UI
        clean. {% endif %}
      </p>
      <div class="my-5">
        <h4>
          <a
            href="{% url 'products' %}"
            class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3"
          >
            {% if home_hero %}
              {{ home_hero.cta_label }}
            {% else %}
              Shop Now
            {% endif %}
          </a>
        </h4>
      </div>
    </div>
    <div
      class="col-12 col-lg-6 d-flex justify-content-center justify-content-lg-end align-items-end home-hero-image-wrap"
    >
      {% if home_hero and home_hero.portrait_image_url %}
      <img
        src="{{ home_hero.portrait_image_url }}"
        alt="{{ home_hero.season_label }} portrait"
        class="home-hero-portrait"
      />
      {% elif home_hero and home_hero.portrait_image %}
      <img
        src="{{ home_hero.portrait_image.url }}"
        alt="{{ home_hero.season_label }} portrait"
        class="home-hero-portrait"
      />
      {% else %}
      <img
        src="{% static 'images/collections/garden/boutique-banner-portrait.png' %}"
        alt="Summer portrait"
        class="home-hero-portrait"
      />
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
