{% load static %}

<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Clothing
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=activewear,essentials" class="dropdown-item">Activewear &amp; Essentials</a>
                <a href="{% url 'products' %}?category=jeans" class="dropdown-item">Jeans</a>
                <a href="{% url 'products' %}?category=shirts" class="dropdown-item">Shirts</a>
                <a href="{% url 'products' %}?category=activewear,essentials,jeans,shirts" class="dropdown-item">All Clothing</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Homeware
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'products' %}?category=home_decor" class="dropdown-item">Home Decor</a>
                <a href="{% url 'products' %}?category=lighting" class="dropdown-item">Lighting</a>
                <a href="{% url 'products' %}?category=textiles,furniture,tableware" class="dropdown-item">Textiles, Furniture &amp; Tableware</a>
                <a href="{% url 'products' %}?category=home_decor,lighting,textiles,furniture,tableware,scent_ritual" class="dropdown-item">All Homeware</a>
            </div>
        </li>

        <li class="nav-item moods-board-nav">
            <a
                class="nav-link moods-board-signature mr-5"
                href="https://soliv1.github.io/moodsboard-reflections-family/#/"
                id="moods-board-link"
                aria-describedby="moods-board-preview"
                target="_blank"
                rel="noopener noreferrer"
            >
                <span class="moods-board-signature__eyebrow">Visit the</span>
                <span class="moods-board-signature__name">Moods Board</span>
                <span class="moods-board-signature__arrow" aria-hidden="true">↗</span>
            </a>
            <div class="moods-board-preview" id="moods-board-preview">
                <p class="moods-board-preview__eyebrow">Reflections Family</p>
                <div class="moods-board-preview__images">
                    <a
                        href="https://soliv1.github.io/moodsboard-reflections-family/#/"
                        class="moods-board-preview__card"
                    >
                        <img
                            src="{% static 'images/moods-board/season-swatch-collection.jpg' %}"
                            alt="Seasonal swatches from the Reflections Family Moods Board"
                        />
                        <span>Seasonal colour</span>
                    </a>
                    <a
                        href="https://soliv1.github.io/moodsboard-reflections-family/#/moodsboard-cinematic"
                        class="moods-board-preview__card"
                    >
                        <img
                            src="{% static 'images/moods-board/cinematic-collection.jpg' %}"
                            alt="Cinematic dusk and impressionist haze colour study"
                        />
                        <span>Cinematic moods</span>
                    </a>
                </div>
                <a
                    href="https://soliv1.github.io/moodsboard-reflections-family/#/"
                    class="moods-board-preview__shop-link"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    Open the full Moods Board
                </a>
            </div>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}?collection=garden" id="garden-link">
                Garden
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?promotion=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?promotion=deals" class="dropdown-item">Special Deals</a>
                <a href="{% url 'products' %}?promotion=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>
    </ul>
</div>
